<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="article:author" content="https://www.linkedin.com/in/jukka-paasonen/">
<meta name="xing:author" content="https://www.xing.com/profile/Jukka_Paasonen">




<meta name="msapplication-config" content="/browserconfig.xml">
<meta http-equiv="date" content="{{ publishtime }}">
<meta http-equiv="last-modified" content="{{ modified }}">
<meta http-equiv="X-UA-Compatible" content="requiresActiveX=true">
<link rel="license" type="text/html" href="/license.html">
<link rel="copyright" type="text/html" href="/license.html">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" type="image/png" href="/icons/square32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/icons/square96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/icons/square192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/icons/square230x230.png" sizes="230x230">
<link rel="icon" type="image/png" href="/icons/square310x310.png" sizes="310x310">
<link rel="apple-touch-icon" href="/icons/square310x310.png">

<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@paazmaya">
<meta name="twitter:site" content="@paazmaya">
<meta name="twitter:title" content="{% block headTitle %}{{ title }} | {% endblock %}{{ baseTitle }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:url" content="{{ url }}">
<meta name="twitter:image" content="icons/square310x310.png">

<meta property="og:title" content="{{ title }}">
<meta property="og:site_name" content="{{ baseTitle }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:image" content="icons/square310x310.png">
<meta property="fb:app_id" content="125953697442876">
<style>
/* https://color.adobe.com/search?q=juokseva%20&t=term */
:root {
  --running-brand-bg: #375166;
  --running-brand-text: #243442;
  --running-brand-outline: #7A88C2;
  --running-brand-border: #70A3CF;
  --running-brand-main: #5B85A8;
}
.fill-1 {
  background-color: var(--running-brand-bg);
}
.fill-2 {
  background-color: var(--running-brand-text);
}
.fill-3 {
  background-color: var(--running-brand-outline);
}
.fill-4 {
  background-color: var(--running-brand-border);
}
.fill-5 {
  background-color: var(--running-brand-main);
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.fill {
  height: 100%;
  width: 100vw;
}
.content {
  position: absolute;
  color: white;
  text-align: center;
  width: 100vw;
  padding: 4rem;
  font-family: monospace;
  box-sizing: border-box;
}
h1 {
  font-weight: bolder;
}
a, a:visited {
  color: white;
}
#game-canvas {
  width: 100vw;
  height: 100vh;
}

</style>
